h1{
    font: 1.2em sans-serif;
    margin: 0px;
    text-align: center;
    color: #676767;
}
div#graph{
    color: #676767;
}
div.tooltip{
    position: absolute;
    text-align: center;
    width:auto;
    height:auto;
    padding: 4px;
    font: 1em sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius:8px;
    pointer-events: none;
    visibility: hidden;
}